.reviewer {
    float: left;
}

.clear {
    clear: both;
}

.card {
    width: 100%;
}

.card-footer-item.taggers {
    justify-content: start;
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.equal-height .card-content {
    flex: auto;
}

.with-background{
    background-image: url('/static/darwin-slider-1140-333.jpg');
    background-size: cover;
}