<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script async defer data-domain="mmfood.phoenixeffect.me" src="https://stenograph.phoenixeffect.me/js/plausible.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-divider.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>{{ title }}</title>
</head>