

{% include 'head.jinja' %}

<body>
  <section class="hero welcome is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hello,
        </h1>
        <h2 class="subtitle">
          Recommendations overheard at the watercooler.
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <div class="box content">

            <aside class="menu">
              {% for key, parent in big_data.items() %}
              <p class="menu-label">
                {{ key|title }}
              </p>
              <ul class="menu-list">
                {% for key2, child in parent.items()|sort %}
                <li>
                  <a href="#{{ key2 }}">{{ key2|title }} ({{ child|length }})</a>
                </li>
                {% endfor %}
              </ul>
              {% endfor %}
            </aside>

            <h3>Conversers</h3>
            {% for reviewer in reviewers %}
            <div class="reviewer">
              <figure class="image is-64x64 m-2">
                <a href="{{ reviewer.name }}"><img class="is-rounded" title="{{ reviewer.name }}"
                  src="static/profile/{% if reviewer.photo %}{{ reviewer.photo }}{% else %}anon.png{% endif %}">
              </figure></a>
            </div>
            {% endfor %}
            <div class="clear"></div>

            <div class="divider">x</div>
            <p class="is-italic">Want to run linear regression on the reviews?</p>
            <a href="static/data.json" class="button is-primary is-fullwidth">Download raw data source</a>

          </div>
          <div class="box content">
            Contribute to this website by sending a <a href="https://github.com/Phoenix-Effect/mmfood">pull request on GitHub</a>.
          </div>
        </div>
        <div class="column is-9">

          {% for key, parent in big_data.items() %}
            {% if not loop.first %} <div class="divider">{{ key }}</div> {% endif %}
            {% for key2, child in parent.items()|sort %}
            <div class="box content">
            <h2 id="{{ key2 }}" class="">{{ key2|title }}</h2>
            <div class="columns is-multiline">

              {% for key3, child3 in child.items()|sort(attribute='1.comments', reverse=True) %}
              <div class="column is-one-third-desktop is-half-tablet is-full-mobile is-flex is-narrow">
                <div class="card">
                  <header class="card-header">
                    <h3 class="card-header-title m-2">
                      {{ key3|title }} 
                    </h3>
                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                  </header>
                  <div class="card-content p-3">
                    <div class="content">
                      {% for review in child3.reviews %}
                      <article class="media ">
                        <figure class="media-left ml-0 mr-3 mt-1">
                          <p class="image is-48x48">
                          <a href="{{ review.reviewer }}">
                            <img class="is-rounded" title="{{ review.reviewer }}"
                              src="static/profile/{% if review.photo %}{{ review.photo }}{% else %}anon.png{% endif %}">
                          </a>
                          </p>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                            <p>
                              <a href="{{ review.reviewer }}" class="has-text-weight-bold">{{ review.reviewer }} </a>
                              <br>
                              {{ review.review }}
                            </p>
                          </div>
                        </div>
                      </article>
                      {% endfor %}
                    </div>
                  </div>
                </div>

              </div>
              {% endfor %}

              </div>
            </div>
            {% endfor %}
          {% endfor %}

        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>