{% include 'head.jinja' %}

<body>
    <section class="hero welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <a href="{{ url_for('home') }}">CEM Food Recommendations</a>
                </h1>
                <h2 class="subtitle">
                    Recommendations overheard at the watercooler.
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box content">

                        <div class="columns">
                            <div class="column is-2">

                                <img class="is-rounded" title="{{ profile.photo }}"
                                    src="/static/profile/{% if profile.photo %}{{ profile.photo }}{% else %}anon.png{% endif %}">

                            </div>
                            <div class="column">
                                <p class="title is-3">{{ profile.name }}</p>
                                <p class="subtitle is-5">{{ profile.bio }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="box content">
                        <h2>Recommended restaurants</h2>
                        <div class="columns is-multiline">
                            {% for item in big_data | sort(attribute='comments', reverse=True) %}
                            <div
                                class="column is-one-quarter-desktop is-one-third-tablet is-full-mobile is-flex is-narrow">
                                <div class="card equal-height">
                                    <header class="card-header">
                                        <h3 class="card-header-title m-2">
                                            {{ item.reviews[0]['restaurant'] }}
                                        </h3>
                                        <a href="#" class="card-header-icon" aria-label="more options">
                                            <span class="icon">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </header>
                                    <div class="card-content p-3">
                                        <div class="content">
                                            {% for review in item.reviews %}
                                            <article class="media ">
                                                <figure class="media-left ml-0 mr-3 mt-1">
                                                    <p class="image is-48x48">
                                                        <a href="{{ review.reviewer }}">
                                                            <img class="is-rounded" title="{{ review.reviewer }}"
                                                                src="/static/profile/{% if review.photo %}{{ review.photo }}{% else %}anon.png{% endif %}">
                                                        </a>
                                                    </p>
                                                </figure>
                                                <div class="media-content">
                                                    <div class="content">
                                                        <p>
                                                            <a href="{{ review.reviewer }}"
                                                                class="has-text-weight-bold">{{ review.reviewer }} </a>
                                                            <br>
                                                            {{ review.review }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <div class="card-footer-item taggers">
                                            <div class="tags">
                                                {% for g in item.reviews[0]['tags'] %}
                                                <span class="tag is-primary mr-2">
                                                    {{ g }}
                                                </span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </footer>
                                </div>

                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>